* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
}

#root {
  min-height: 100%;
  overflow: visible;
}

body {
  font-family: 'Arial', sans-serif;
}